.abbr {
    text-align: center;
    line-height: 0.5;
    padding: 10px;
}
.brandTitle {
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}
.brandTitle span {
    font-size: 0.7rem;
}
.pagebranding {
    text-align: center;
    p {
        font-size: 1rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
        padding: 0 5px;
        color: #333;
        letter-spacing: 0.3px;
        margin: 0;
        
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -2px;
            left: 0;
            background-color: #666;
            transform: scaleX(0);
            transition: transform 0.2s ease;
        }
        
        &:hover::after {
            transform: scaleX(1);
        }
    }
}