.abbr {
    text-align: center;
    line-height: 0.5;
    padding: 10px;
}
.brandTitle {
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}
.brandTitle span {
    font-size: 0.7rem;
}