@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  opacity: 0; /* Initially transparent */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: opacity 1.5s ease-in-out; /* Smooth fade-in */
  background-image: var(--bg-image); /* Use CSS variable */
  overflow: hidden;
}
/* When the background is loaded, make it visible */
body.bg-loaded {
  opacity: 1;
}
#root {
  opacity: 0;
  visibility: hidden;
  width: clamp(320px, 50%, 425px);
  transition: opacity 0.7s ease-in, visibility 0.7s ease-in;
}
/* When ready, show the element */
#root.show {
  opacity: 1;
  visibility: visible;
}
.mainWrapper {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
}